

<h1 align="center" style="margin-top: 50px; margin-left: 250px; margin-right: 250px">

یک بازی کارت است که در چهار با مجموعه ای از کارت تمرین شده است. ، اعضای یک تیم رو در روی یکدیگر و داشتن در حق خود و در هر یک از حریف سمت چپ خود از چهار بازیکن به دو تیم از دو بازیکن تقسیم شده است. این قرارداد به بازی به این معنا است که یک تیم موافق به امتیاز بیشتر از حریف، و که شکست به شدت جریمه است. این شبیه به یاس است که با کارت بازی است، و بسیار نزدیک به یک بازی هلندی است. چندین نسخه، از جمله کشور یا گل سرخ وجود دارد. این بازی نیز با نام شناخته شده: گوشت گاو و خوک.

</h1>


<md-content class="md-padding" layout-xs="column" layout="row" style="margin-left: 50px;">
<div flex-xs flex-gt-xs="70" layout="column">
	<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</div>


<div flex-xs flex-gt-xs="60" layout="column">
	<ui-gmap-google-map center='map2.center' zoom='map2.zoom'></ui-gmap-google-map>
</div>

</md-content>