<!-- <div class="container">
  <h2>List of thoughts :</h2>



  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" placeholder="What are you thinking about?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>



  <div ui-sortable ng-model="todos">
    <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="todo" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
      </span>
    </p>
  </div>
</div> -->

  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">La Belote Perse</span>
            <span class="md-subhead">Louise</span>
          </md-card-title-text>
          <md-card-title-media>
            <img ng-src="{{imagePathLouise}}" class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
      </md-card>
      <div layout layout-padding layout-align="center end" style="height:200px">
      </div>
    </div>

        <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">La Belote Perse</span>
            <span class="md-subhead">Yannis</span>
          </md-card-title-text>
          <md-card-title-media>
            <img ng-src="{{imagePathYannis}}" class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
      </md-card>
      <div layout layout-padding layout-align="center end" style="height:200px">
      </div>
    </div>
  </md-content>


<div class="md-padding">
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/213561980&amp;color=16b5c5&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=true"></iframe>
</div>

<div class="container" align="center" style="margin-bottom: 1em">
  <iframe src="https://player.vimeo.com/video/155328578?color=16b5c5&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="container" align="center" style="padding-bottom: 50em">
  <iframe src="https://player.vimeo.com/video/145810777?color=16b5c5&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>


<h1 align="center" style="padding-bottom: 1em">Coucou</h1>